{% load crispy_forms_tags %}
{% load static%}
<form id="startup_" method="post" onsubmit="validateForm()"  enctype="multipart/form-data">
  {% csrf_token %}
  <input hidden name="Startup" value="Startup" />
  <div id="basicsStartup">
    {% include "./basic/basic.html" with typeOff="startup_" %}
      <div class="form-group col-md-3">

        {{ startup_form.establishment_year|as_crispy_field }}
      </div>
      <div class="form-group col-md-3">
        {{ startup_form.stage|as_crispy_field }}
      </div>
        <div class="form-group col-md-3">
        {{ startup_form.market_scope|as_crispy_field }}
      </div>
  </div>
  <div id="basicsAddress">
  {% include "./basic/address.html" with typeOff="startup_" %}
  </div>
  <div id="basicsResponsible">
    {% include "./basic/person.html" %}
    
  </div>
  <button type="submit" class="btn btn-primary">Register</button>
</form>
<script>
  function validateForm() {
    let x = document.getElementById('id_name')
    if (x == null) {
      alert("Name must be filled out");
      return false;
    }
  }
</script>