{%load static %}
{% load getUser %}
{% load humanize %}
<div id="replaced">
  {% for i in messages %}
 

  <p hidden id="conversationId" data-conversationId="{{i.conversation.id}}"></p>
  {% if i.is_sent %}
<li class="d-flex  justify-content-between mb-4">
  <img src="{{i.sender|getUserPic}}" alt="avatar"
    class="rounded-circle d-flex align-self-start me-3 shadow-1-strong" width="60">
  <div class="card" style="  width: 100%;">
    <div class="card-header d-flex justify-content-between p-3">
      <p class="fw-bold mb-0">{{ i.sender.username }}</p>
      <p class="text-muted small mb-0"><i class="far fa-clock"></i> {{ i.timestamp|naturaltime }}</p>
    </div>
    <div class="card-body">
      <p class="mb-0">
        {{i.content}}
      </p>
    </div>
  </div>
</li>
{% else %}
<li class="d-flex justify-content-between mb-4">
  <div class="card w-100">
    <div class="card-header d-flex justify-content-between p-3">
      <p class="fw-bold mb-0">{{ i.sender.username }}</p>
      <p class="text-muted small mb-0"><i class="far fa-clock"></i> {{ i.timestamp|naturaltime }}</p>
    </div>
    <div class="card-body">
      <p class="mb-0">
        {{i.content}}
      </p>
    </div>
  </div>
  <img src="{{i.sender|getUserPic}}" alt="avatar"
    class="rounded-circle d-flex align-self-start ms-3 shadow-1-strong" width="60">
</li>
{% endif %}
{%endfor%}

</div>