{% extends './base.html' %}
{% block content %}
{% load static %}


<style>
/* Full-screen overlay styles */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black background */
  z-index: 9999; /* Ensure it's on top of everything */
}

/* Center the image vertically and horizontally */
.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Make the image responsive */
.full-screen-img {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
}


    /* Style for the modal */
    .modal-content {
      background-color: #fff;
      border-radius: 10px;
    }
  
    .modal-header {
      background-color: #007BFF;
      color: #fff;
    }
  
    .modal-title {
      font-size: 24px;
    }
  
    .modal-body {
      padding: 20px;
    }
  
    /* Style for the startup information */
    #modal-name {
      font-size: 28px;
      font-weight: bold;
      margin-bottom: 10px;
    }
  
    #modal-description {
      font-size: 16px;
      margin-bottom: 20px;
    }
  
    #modal-sector,
    #modal-market-scope,
    #modal-country,
    #modal-region,
    #modal-wereda,
    #modal-phone-number,
    #modal-city-name,
    #modal-website,
    #modal-first-name,
    #modal-middle-name,
    #modal-last-name,
    #modal-username,
    #modal-contact,
    #modal-birth-date,
    #modal-gender {
      font-size: 18px;
      margin-bottom: 10px;
    }
  
    #modal-logo {
      max-width: 100%;
      height: auto;
      border-radius: 10px;
      margin-bottom: 20px;
    }
  
    /* Close button */
    .modal-footer {
      justify-content: center;
    }
  
    /* Add any additional styling as needed */
  </style>
  
  <!-- Page Wrapper -->
  <div id="wrapper">
    <!-- Sidebar -->
    {% include './sidebar.html'%}

    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

          {% include './navbar.html' %}

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                            class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
                </div>

                <!-- Content Row -->
                <div class="row">
                    
<div class="card card-primary card-tabs">
    <div class="card-header p-0 pt-1">
    <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
    <li class="nav-item">
    <a class="nav-link" id="startup-tab" data-toggle="pill" href="#startup" role="tab" aria-controls="startup" aria-selected="false">Startup Profile List</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" id="mentor-tab" data-toggle="pill" href="#mentor" role="tab" aria-controls="mentor" aria-selected="false">Mentor Profile List</a>
    </li>
    <li class="nav-item">
    <a class="nav-link " id="incubator-tab" data-toggle="pill" href="#incubator" role="tab" aria-controls="incubator" aria-selected="false">Incubator/Acclerator/Hub Profile List</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" id="donor-tab" data-toggle="pill" href="#donor" role="tab" aria-controls="donor" aria-selected="false">Donor/Funder Profile List</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="government-tab" data-toggle="pill" href="#government" role="tab" aria-controls="government" aria-selected="false">Government Profile List</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" id="all-tab" data-toggle="pill" href="#all" role="tab" aria-controls="all" aria-selected="true">All Profile List</a>
            </li>
    </ul>
    </div>
    <div class="card-body">
      <div class="overlay">
        <div class="img-container"></div>
      </div>
    
        <div class="modal fade" id="modal-startup" tabindex="-1" role="dialog" aria-labelledby="modal-startup-label" aria-hidden="true">
            <div class="modal-dialog modal-startup" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="modal-startup-label">Startup Details</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <img src="" alt="Logo" id="modal-logo" class="modal-image" style="max-width: 200px; max-height: 200px;">
                                      <p><strong>Name:</strong> <span id="modal-name"></span></p>
                    <p><strong>Establishment Year:</strong> <span id="modal-establishment-year"></span></p>
                    <p><strong>Stage:</strong> <span id="modal-stage"></span></p>
                    <p><strong>Market Scope:</strong> <span id="modal-market-scope"></span></p>
                    <p><strong>Country:</strong> <span id="modal-country"></span></p>
                    <p><strong>Region Name:</strong> <span id="modal-region-name"></span></p>
                    <p><strong>Wereda Name:</strong> <span id="modal-wereda-name"></span></p>
                    <p><strong>Phone Number:</strong> <span id="modal-phone-number"></span></p>
                    <p><strong>City Name:</strong> <span id="modal-city-name"></span></p>
                    <p><strong>Website:</strong> <span id="modal-website"></span></p>
                    <p><strong>First Name:</strong> <span id="modal-first-name"></span></p>
                    <p><strong>Middle Name:</strong> <span id="modal-middle-name"></span></p>
                    <p><strong>Last Name:</strong> <span id="modal-last-name"></span></p>
                    <p><strong>Username:</strong> <span id="modal-username"></span></p>
                    <p><strong>Email:</strong> <span id="modal-email"></span></p>
                    <p><strong>Birth Date:</strong> <span id="modal-birth-date"></span></p>
                    <img src="" alt="Profile" id="modal-profile" class="modal-image" style="max-width: 200px; max-height: 200px;">
                    <p><strong>Contact:</strong> <span id="modal-contact"></span></p>
                    <p><strong>Secondary Email:</strong> <span id="modal-secondary-email"></span></p>
                    <p><strong>Gender:</strong> <span id="modal-gender"></span></p>
                    <p><strong>Modified:</strong> <span id="modal-modified"></span></p>
                    
                  <!-- Add more fields here for other startup information -->
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>


          <div id="pdf-viewer" style="display: none;">
            <canvas id="attachment-pdf"></canvas>
        </div>
               
      <div class="modal fade" id="modal-mentor" tabindex="-1" role="dialog" aria-labelledby="modal-mentor-label" aria-hidden="true">
        <div class="modal-dialog modal-mentor" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modal-mentor-label">Mentor Details</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p><strong>Name:</strong> <span id="modal-mentor-name"></span></p>
              <p><strong>First Name:</strong> <span id="modal-mentor-first-name"></span></p>
              <p><strong>Middle Name:</strong> <span id="modal-mentor-middle-name"></span></p>
              <p><strong>Last Name:</strong> <span id="modal-mentor-last-name"></span></p>
              <p><strong>Username:</strong> <span id="modal-mentor-username"></span></p>
              <p><strong>Email:</strong> <span id="modal-mentor-email"></span></p>
              <p><strong>Birth Date:</strong> <span id="modal-mentor-birth-date"></span></p>
              <img src="" alt="Profile Pic" id="modal-mentor-profile-pic" class="modal-mentor-image" style="max-width: 200px; max-height: 200px;">
              <p><strong>Contact:</strong> <span id="modal-mentor-contact"></span></p>
              <p><strong>Secondary Email:</strong> <span id="modal-mentor-secondary-email"></span></p>
              <p><strong>Gender:</strong> <span id="modal-mentor-gender"></span></p>
              <p><strong>Modified:</strong> <span id="modal-mentor-modified"></span></p>
              <p><strong>Mentor Area:</strong> <span id="modal-mentor-mentor-area"></span></p>
              <p><strong>Educational Level:</strong> <span id="modal-mentor-educational-level"></span></p>
              <p><strong>Educational Level (Other):</strong> <span id="modal-mentor-educational-level-other"></span></p>
              <p><strong>Educational Background:</strong> <span id="modal-mentor-educational-background"></span></p>
              <p><strong>Educational Background (Other):</strong> <span id="modal-mentor-educational-background-other"></span></p>
              <p><strong>AI Related Experience:</strong> <span id="modal-mentor-airelated-expriance"></span></p>
              <img src="" alt="Attachment" id="modal-mentor-attachments" class="modal-mentor-image" style="max-width: 200px; max-height: 200px;">
              <p><strong>Description Name:</strong> <span id="modal-mentor-description-name"></span></p>
              <p><strong>Country:</strong> <span id="modal-mentor-country"></span></p>
              <p><strong>Region Name:</strong> <span id="modal-mentor-region-name"></span></p>
              <p><strong>Wereda Name:</strong> <span id="modal-mentor-wereda-name"></span></p>
              <p><strong>Phone Number:</strong> <span id="modal-mentor-phone-number"></span></p>
              <p><strong>City Name:</strong> <span id="modal-mentor-city-name"></span></p>
              <p><strong>Website:</strong> <span id="modal-mentor-website"></span></p>
              <p><strong>Logo:</strong></p>
              <img src="" alt="Logo" id="modal-mentor-logo" class="modal-image" style="max-width: 200px; max-height: 200px;">
              
                
              <!-- Add more fields here for other mentor information -->
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      
      <div class="modal fade" id="modal-incubator" tabindex="-1" role="dialog" aria-labelledby="modal-incubator-label" aria-hidden="true">
        <div class="modal-dialog modal-incubator" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modal-incubator-label">Incubator Details</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
            <!-- Display text data -->
            <p><strong>*</strong> <span id="modal-incubator-name"></span></p>
            <p><strong>Service:</strong> <span id="modal-incubator-service"></span></p>
            <p><strong>Ownership:</strong> <span id="modal-incubator-ownership"></span></p>
            <p><strong>Ownership Other:</strong> <span id="modal-incubator-ownership-other"></span></p>
            <p><strong>Focus Industry:</strong> <span id="modal-incubator-focus-industry"></span></p>
            <p><strong>Level:</strong> <span id="modal-incubator-level"></span></p>
            <p><strong>Funded By:</strong> <span id="modal-incubator-funded-by"></span></p>
            <p><strong>Funded By Other:</strong> <span id="modal-incubator-funded-by-other"></span></p>
            <p><strong>Program Duration:</strong> <span id="modal-incubator-program-duration"></span></p>
            <p><strong>Description Name:</strong> <span id="modal-incubator-description-name"></span></p>
            <p><strong>Country:</strong> <span id="modal-incubator-country"></span></p>
            <p><strong>Region Name:</strong> <span id="modal-incubator-region-name"></span></p>
            <p><strong>Wereda Name:</strong> <span id="modal-incubator-wereda-name"></span></p>
            <p><strong>Phone Number:</strong> <span id="modal-incubator-phone-number"></span></p>
            <p><strong>City Name:</strong> <span id="modal-incubator-city-name"></span></p>
            <p><strong>Website:</strong> <span id="modal-incubator-website"></span></p>
            
            <!-- Additional elements for profile-related data -->
            <p><strong>Profile Picture:</strong> <img id="modal-incubator-profile-pic" src="" alt=""></p>
            <p><strong>Contact:</strong> <span id="modal-incubator-contact"></span></p>
            <p><strong>Secondary Email:</strong> <span id="modal-incubator-secondary-email"></span></p>
            <p><strong>Gender:</strong> <span id="modal-incubator-gender"></span></p>
            <p><strong>Modified:</strong> <span id="modal-incubator-modified"></span></p>
            

<!-- Display an image -->
<img src="" alt="Profile" id="modal-incubator-attachments" class="modal-mentor-image" style="max-width: 200px; max-height: 200px;">

              <!-- Add more fields here for other mentor information -->
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="modal-donor" tabindex="-1" role="dialog" aria-labelledby="modal-donor-label" aria-hidden="true">
        <div class="modal-dialog modal-donor" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modal-donor-label">Donor Details</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p><strong>Name:</strong> <span id="modal-donor-name"></span></p>
              <p><strong>Donor Type:</strong> <span id="modal-donor-donor_type"></span></p>
              <p><strong>Donor Type (Other):</strong> <span id="modal-donor-donor_type_by_other"></span></p>
              <p><strong>Level:</strong> <span id="modal-donor-level"></span></p>
              <p><strong>Investment Type:</strong> <span id="modal-donor-investment_type"></span></p>
              <p><strong>Investment Type (Other):</strong> <span id="modal-donor-investment_type_other"></span></p>
              <p><strong>Max Investment Range:</strong> <span id="modal-donor-max_investment_range"></span></p>
              <p><strong>Description Name:</strong> <span id="modal-donor-description_name"></span></p>
              <p><strong>Country:</strong> <span id="modal-donor-country"></span></p>
              <p><strong>Region Name:</strong> <span id="modal-donor-region_name"></span></p>
              <p><strong>Wereda Name:</strong> <span id="modal-donor-wereda_name"></span></p>
              <p><strong>Phone Number:</strong> <span id="modal-donor-phone_number"></span></p>
              <p><strong>City Name:</strong> <span id="modal-donor-city_name"></span></p>
              <p><strong>Website:</strong> <span id="modal-donor-website"></span></p>
              
              <!-- Additional elements for profile-related data -->
              <p><strong>Profile Picture:</strong> <img id="modal-donor-profile-pic" src="" alt=""></p>
              <p><strong>Contact:</strong> <span id="modal-donor-contact"></span></p>
              <p><strong>Secondary Email:</strong> <span id="modal-donor-secondary_email"></span></p>
              <p><strong>Gender:</strong> <span id="modal-donor-gender"></span></p>
              <p><strong>Modified:</strong> <span id="modal-donor-modified"></span></p>
                           
                
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="modal-government" tabindex="-1" role="dialog" aria-labelledby="modal-government-label" aria-hidden="true">
        <div class="modal-dialog modal-government" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modal-government-label">Government Details</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
            <!-- Display text data -->
            <p><strong>*</strong> <span id="modal-government-name"></span></p>
            <p><strong>Government Type:</strong> <span id="modal-government_type"></span></p>
            <p><strong>Government Type (Other):</strong> <span id="modal-government_type_other"></span></p>
            <p><strong>Level:</strong> <span id="modal-level"></span></p>
            <p><strong>Description Name:</strong> <span id="modal-government-description_name"></span></p>
            <p><strong>Country:</strong> <span id="modal-government-country"></span></p>
            <p><strong>Region Name:</strong> <span id="modal-government-region_name"></span></p>
            <p><strong>Wereda Name:</strong> <span id="modal-government-wereda_name"></span></p>
            <p><strong>Phone Number:</strong> <span id="modal-government-phone_number"></span></p>
            <p><strong>City Name:</strong> <span id="modal-government-city_name"></span></p>
            
            <!-- Additional elements for profile-related data -->
            <p><strong>Profile Picture:</strong> <img id="modal-government-profile-pic" src="" alt=""></p>
            <p><strong>Contact:</strong> <span id="modal-government-contact"></span></p>
            <p><strong>Secondary Email:</strong> <span id="modal-government-secondary_email"></span></p>
            <p><strong>Gender:</strong> <span id="modal-government-gender"></span></p>
            <p><strong>Modified:</strong> <span id="modal-government-modified"></span></p>
                       
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      
          
    <div class="tab-content" id="custom-tabs-one-tabContent">
    <div class="tab-pane fade" id="startup" role="tabpanel" aria-labelledby="startup-tab">
    
        
        <div class="card">
           {% include './startup-data.html'%}
          </div>
        

   
</div>
    <div class="tab-pane fade" id="mentor" role="tabpanel" aria-labelledby="mentor-tab">

        {% include './mentor-data.html'%}   
</div>
    <div class="tab-pane fade active show" id="incubator" role="tabpanel" aria-labelledby="incubator-tab">

        {% include './incubator-data.html'%}      
</div>
    <div class="tab-pane fade" id="donor" role="tabpanel" aria-labelledby="donor-tab">

        {% include './donor-data.html'%}       
</div>
    <div class="tab-pane fade" id="government" role="tabpanel" aria-labelledby="government-tab">

        {% include './government-data.html'%}           
    </div>
    <div class="tab-pane fade" id="all" role="tabpanel" aria-labelledby="all-tab">

        {% include './all-data.html'%}           
    </div>
    </div>
    </div>
    
    </div>
    
                    
                </div>

                <!-- Content Row -->

               

                
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Your Website 2021</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>

{% endblock%}
